//base colors
$white: ghostwhite;
$green: green;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$black: black;
$grey: grey;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light: #F7F7F7;
$color-grey-dark: #6a6a6a;

//GRIDS
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 8rem;

//FONTS
$default-font-size: 1.8rem;